#24af{
	width : 579px;
	height : 768px;
	background-position: 0px -0px;
}
#s{
	width : 218px;
	height : 174px;
	background-position: 0px -579px;
}
#diamond-1857736_{
	width : 1280px;
	height : 1110px;
	background-position: 0px -797px;
}
